* text=auto

*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.php text eol=lf
*.txt text eol=lf

/.gitattributes export-ignore
/.gitignore export-ignore
/AGENTS.md export-ignore
/DEVELOPMENT.md export-ignore
/tests/ export-ignore
